{% extends 'base_user_center.html' %}
{% load static %}
{% block right_content %}
<div class="right_content clearfix">
				{% csrf_token %}
				<h3 class="common_title2">全部订单</h3>
				<div class="order_status_tabs clearfix">
					{% for tab in status_tabs %}
					<a href="{% url 'user:order' 1 %}{% if tab.key != 'all' %}?status={{ tab.key }}{% endif %}" class="{% if status == tab.key %}active{% endif %}">
						{{ tab.name }}<em>{{ tab.count }}</em>
					</a>
					{% endfor %}
				</div>
				{% for item in order_page %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ item.order.create_time }}</li>
					<li class="col02">订单号：{{ item.order.order_id }}</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="60%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><a href="{% url 'goods:detail' item.order_sku.sku.id %}"><img src="{{ item.order_sku.sku.image.url }}"></a></li>
									<li class="col02"><a href="{% url 'goods:detail' item.order_sku.sku.id %}" class="order_goods_name">{{ item.order_sku.sku.name }}</a><em>{{ item.order_sku.sku.price }}元/{{ item.order_sku.sku.unite }}</em></li>
									<li class="col03">{{ item.order_sku.count }}</li>
									<li class="col04">{{ item.order_sku.amount }}元</li>
								</ul>
							</td>
							<td width="25%">{{ item.total_pay }}(含运费:{{ item.order.transit_price }})元</td>
							<td width="15%">
								<a href="{% if item.order.order_status == 4 %}{% url 'order:comment' item.order.order_id %}{% else %}#{% endif %}"
								   order_id="{{ item.order.order_id }}"
								   status="{{ item.order.order_status }}"
								   class="oper_btn{% if item.order.order_status == 1 or item.order.order_status == 4 %} oper_btn_primary{% endif %}">去付款</a>
							</td>
						</tr>
					</tbody>
				</table>
				{% empty %}
				<div class="order_empty">当前分类暂无订单</div>
				{% endfor %}
				<div class="pagenation compact_pagenation">
					{% if order_page.has_previous %}
					<a href="{% url 'user:order' order_page.previous_page_number %}{% if status != 'all' %}?status={{ status }}{% endif %}">上一页</a>
					{% else %}
					<span class="disabled">上一页</span>
					{% endif %}
					<span class="page_info">第 {{ order_page.number }} / {{ num_pages }} 页</span>
					{% if order_page.has_next %}
					<a href="{% url 'user:order' order_page.next_page_number %}{% if status != 'all' %}?status={{ status }}{% endif %}">下一页</a>
					{% else %}
					<span class="disabled">下一页</span>
					{% endif %}
				</div>
		</div>
{% endblock right_content %}
{% block bottomfiles %}
	<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script>
		$('.oper_btn').each(function () {
        // 获取支付状态
        var status = $(this).attr('status')
        if (status == 1){
            $(this).text('去支付')
            $(this).addClass('oper_btn_primary')
            $(this).css({'background':'#1f7ae0','color':'#fff'})
        }
        else if (status == 2 || status == 3){
            $(this).text('已支付')
        }
        else if (status == 4){
            $(this).text('去评价')
            $(this).addClass('oper_btn_primary')
            $(this).css({'background':'#1f7ae0','color':'#fff'})
        }
        else if (status == 5){
            $(this).text('已评价')
        }
    	})
		$('.oper_btn').click(function(event) {
			// 获取status
			var status = $(this).attr('status')
			var order_id = $(this).attr('order_id')
			if (status == 1){
				event.preventDefault()
				// 进行支付
				// 获取订单id
				var csrf = $('input[name="csrfmiddlewaretoken"]').val()
				// 组织参数
				var params = {'order_id': order_id, 'csrfmiddlewaretoken': csrf}
				// 开发环境模拟支付成功
				$.post('/order/mock_pay', params, function(data) {
						if (data.res == 3) {
							alert(data.message)
							location.reload()
						}
						else {
							alert(data.errmsg)
						}
				}).fail(function(xhr) {
					alert('发起支付失败：' + xhr.status + ' ' + xhr.statusText)
				})
			}
			else if (status != 4){
				event.preventDefault()
			}
		})
	</script>
{% endblock bottomfiles %}
