{% extends 'base/base.html' %}
{% load static %}
{% block title %}天天生鲜-首页{% endblock title %}
{% block topfiles %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock topfiles %}
{% block body %}
	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="{% url 'goods:index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="#featured_fresh">精品生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="#lottery_zone">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
            {% for type in types %}
			    <li><a href="#model0{{ forloop.counter }}" class="{{ type.logo }}">{{ type.name }}</a></li>
            {% endfor %}
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
                {% for banner in goods_banners  %}
                    <!--暂时注释，后续添加    url 'goods:detail' banner.sku.id -->
				    <li><a href="{% url 'goods:detail' banner.sku.id %}"><img src="{{ banner.image.url }}" alt="幻灯片"></a></li>
                {% endfor %}
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
            {% for banner in promotion_banners %}
			    <a href="{{ banner.url }}"><img src="{{ banner.image.url }}"></a>
            {% endfor %}
		</div>
	</div>

	<div class="home_topic" id="featured_fresh">
		<div class="home_topic_title clearfix">
			<h3 class="fl">精品生鲜</h3>
			<span class="fl">精选高销量好物，点开图片可查看详情</span>
		</div>
		<ul class="featured_grid">
            {% for sku in featured_skus %}
			<li>
				<a href="{% url 'goods:detail' sku.id %}" class="featured_pic"><img src="{{ sku.image.url }}" alt="{{ sku.name }}"></a>
				<h4><a href="{% url 'goods:detail' sku.id %}">{{ sku.name }}</a></h4>
				<p>{{ sku.desc }}</p>
				<div class="featured_price">¥ {{ sku.price }} / {{ sku.unite }}</div>
			</li>
            {% endfor %}
		</ul>
	</div>

	<div class="lottery_zone" id="lottery_zone">
		<div class="lottery_intro">
			<h3>今日抽奖</h3>
			<p>任选一个心动商品进入详情页，下单后即可参与幸运福利。</p>
			<a href="{% url 'goods:index' %}#featured_fresh">先逛精品</a>
		</div>
		<ul class="lottery_goods">
            {% for sku in lottery_skus %}
			<li>
				<a href="{% url 'goods:detail' sku.id %}"><img src="{{ sku.image.url }}" alt="{{ sku.name }}"></a>
				<div>
					<h4><a href="{% url 'goods:detail' sku.id %}">{{ sku.name }}</a></h4>
					<span>幸运价 ¥ {{ sku.price }}</span>
				</div>
			</li>
            {% endfor %}
		</ul>
	</div>

    {% for type in types %}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model0{{ forloop.counter }}">{{ type.name }}</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for banner in type.title_banners %}
				    <a href="{% url 'goods:detail' banner.sku.id  %}">{{ banner.sku.name }}</a>
				{% endfor %}
			</div>
			<a href="{% url 'goods:list' type.id 1 %}" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{{ type.image.url }}"></div>
			<ul class="goods_list fl">
                {% for banner in type.image_banners %}
				<li>
					<h4><a href="{% url 'goods:detail' banner.sku.id  %}">{{ banner.sku.name }}</a></h4>
					<a href="{% url 'goods:detail' banner.sku.id  %}"><img src="{{ banner.sku.image.url }}"></a>
					<div class="prize">¥ {{ banner.sku.price }}</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
    {% endfor %}
{% endblock body %}
